/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #164059;
    --secondary-color: #0367A6;
    --tertiary-color: #035AA6;
    --quaternary-color: #2694BF;
    --quinary-color: #F2F2F2;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar fixa */
.sidebar {
    width: 10%;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--quinary-color);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidebar ul li a:hover {
    background-color: var(--tertiary-color);
    color: var(--quinary-color);
}

/* Conteúdo principal */
.container {
    width: 90%; /* espaço da sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Formulário específico */
form {
  background: #fff;
  padding: 20px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs e Select apenas dentro desse form */
form input,
form select {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

form input:focus,
form select:focus {
  border-color: #1e293b;
  outline: none;
}

form select {
  appearance: none;
  background-size: 12px 12px;
  cursor: pointer;

  option{
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
}

/* Label do select dentro do form */
form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

/* Botão apenas dentro do form */
form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0367A6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

form button:hover {
  background: #164059;
}

/* Placeholder apenas do form */
form ::placeholder {
  color: #aaa;
}

/* Responsividade */
@media (max-width: 500px) {
  form {
    padding: 20px;
  }
}
